/* other media-queries */
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
/* -----------780PX - 1000PX----------- */
@media (min-width: 780px) and (max-width: 1000px) {
  #header {
    height: 60vh;
    padding: 2rem;
    overflow-x: hidden;
    padding: 2rem;
  }
  #header h1 {
    font-size: 2rem;
    line-height: 2;
  }
  #header p {
    font-size: 1.5rem;
  }
}
@media (max-width: 900px) {
  #showcase {
    width: 100vw;
    height: fit-content;
    color: #fff;
    padding: 1.5rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20rem;
    text-align: center;
    padding: 1rem;
    border-radius: 2%;
    margin: 1rem;
  }

  .box:hover img {
    transform: scale(1);
  }
  .box:nth-child(2) {
    transform: translateY(0);
  }
  .box .showcase-text h3:first-child {
    transform: translateY(0);
  }
  .box img {
    width: 13rem;
    height: 15rem;
  }
  .box h3 {
    flex: none;
    font-weight: 1000;
    font-size: 1.3rem;
  }
}
/* -------780px -------- */
@media (max-width: 780px) {
  .logo {
    width: 100%;
  }
  .nav-socials {
    display: block;
  }
  .nav-container .nav-socials a:first-child svg {
    fill: #3b5998;
  }
  .nav-container .nav-socials a:nth-child(2) svg {
    fill: #00acee;
  }
  .nav-container .nav-socials a:nth-child(3) svg {
    fill: #c4302b;
  }
  .nav-container .nav-socials a:nth-child(4) svg {
    fill: #fd5949;
  }
  #main-nav {
    display: flex;
    text-align: center;
  }

  #main-nav .nav-container {
    position: fixed;
    top: 7%;
    left: 0;
    width: 15rem;
    background: var(--dark-color);
    z-index: 1000;
    display: none;
  }

  .nav-container .nav-socials,
  .nav-container li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background: var(--light-color);
    z-index: 2000;
    opacity: 0;
    animation: anim-nav 0.5s linear forwards;
    animation-delay: 0.1s;
  }
  .nav-container ul {
    display: contents;
  }
  .nav-container ul li a {
    padding-top: 0.5rem;
    color: var(--dark-color);
  }
  .nav-container ul li {
    margin: 0 auto;
    transition: color 0.3s;
    border-bottom: 0.1px dotted var(--dark-color);
  }
  .nav-container li:nth-child(2) {
    animation-delay: 0.5s;
  }
  .nav-container li:nth-child(3) {
    animation-delay: 1s;
  }
  .nav-container .nav-socials {
    animation-delay: 1.5s;
  }
  .nav-container ul li:hover {
    background: var(--dark-color);
    color: var(--light-color);
  }
  .nav-container ul li:hover a {
    color: var(--light-color);
  }
  .nav-container .nav-socials:hover {
    background: var(--dark-color);
  }

  .logo svg {
    width: 1.8rem;
  }
  nav button {
    display: contents;
    cursor: pointer;
    position: absolute;
    left: 20px;
  }
  nav button img {
    width: 40px;
  }
  .latest {
    display: none;
  }
  #header {
    padding: 2rem 1.5rem;
  }
  #header h1 {
    font-size: 2rem;
    line-height: 2;
  }
  #header p {
    font-size: 1.5rem;
  }
  .nav-container ul li {
    padding: 0 0.5rem;
  }
  #showcase {
    padding: 1.5rem;
  }
  #stories-container {
    display: block;
    padding: var(--gap-1);
    column-gap: var(--gap-1);
    height: fit-content;
    margin-bottom: 15rem;
  }
  #stories-container .bigger-box {
    width: 100%;
    height: 20rem;
  }
  .stories-main-box {
    margin-top: 10%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    column-gap: var(--gap-1);
    row-gap: var(--gap-1);
  }
  #stories-container .stories-main-box .stories-box {
    width: 100%;
    height: calc(35rem / 2);
    column-gap: var(--gap-1);
  }
  #stories-container .stories-main-box .stories-box:last-child {
    margin-bottom: 5rem;
  }
  #footer-container {
    margin: 20rem 2rem 0 2rem;
  }
  .footer-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #first-box h4 {
    display: none;
  }
  #second-box {
    border-top: 1px dotted var(--light-color);
    margin-top: var(--gap-2);
  }
  #second-box .inner-box {
    border-right: none;
  }
  .inner-box {
    font-size: 14px;
  }
  @media (max-width: 780px) {
    .slides {
      width: 500%;
      height: 400px;
      display: flex;
    }
    #slider {
      width: 400px;
      height: 400px;
      border-radius: 10px;
      /* overflow: hidden; */
    }
    .nav-btn {
      margin: -3rem -25%;
    }
    .nav-auto {
      margin: 22rem -25% 0 -25%;
    }
  }

  /* ----600px-780px------ */
  @media (min-width: 600px) and (max-width: 780px) {
    #stories-container {
      display: block;
      padding: var(--gap-1);
      column-gap: var(--gap-1);
      height: fit-content;
      margin-bottom: 15rem;
    }
    #stories-container .bigger-box {
      width: 100%;
      height: 20rem;
    }
    #footer-container {
      margin: 30rem var(--gap-2) 0 var(--gap-2);
    }
  }
  /* --------700px(for the topic-box) */
  @media (max-width: 700px) {
    .topic-box ul > li:nth-child(6) {
      display: none;
    }
  }
  /* max-width:600px */
  @media (max-width: 600px) {
    .logo {
      width: 100%;
    }
    .nav-container ul {
      display: contents;
    }
    .nav-socials {
      justify-self: right;
    }
    .nav-container {
      grid-template-columns: 6fr 4fr;
    }
    #main-nav .nav-container {
      top: 10%;
    }
    .stories-main-box {
      display: block;
      row-gap: var(--gap-1);
    }
    #stories-container .bigger-box {
      width: 100%;
      height: 20rem;
    }
    #stories-container .stories-main-box .stories-box {
      height: 7rem;
      border-bottom: 1px dotted var(--light-color);
    }
    .sports-text {
      transform: translateY(0);
    }
    .bigger-box .sports-text {
      transform: translateY(-100%);
    }
    .stories-box img {
      display: none;
    }
    .bigger-box img {
      display: block;
    }
  }
  /* max-width: 500px */
  @media (max-width: 500px) {
    .logo {
      color: #fff;
      font-size: 2rem;
    }

    #welcome p {
      margin-left: 0rem;
    }
    .showcase-text {
      margin: 0 1rem;
    }

    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 20rem;
      text-align: center;
      padding: 1rem;
      border-radius: 2%;
      margin: var(--gap-1);
    }

    .box:hover img {
      transform: scale(1);
    }
    .box:nth-child(2) {
      transform: translateY(0);
    }
    .box:hover {
      background-color: transparent;
      color: #fff;
      text-align: center;
      padding: 1rem;
      border-radius: 2%;
      border: 2px solid #fff;
      box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.5);
    }
    .box:hover img {
      transform: scale(1.1);
    }
    .box h3 {
      font-weight: 1500;
      font-size: 1.2rem;
    }
    .box img {
      width: 10rem;
      height: 15rem;
    }
  }
  @media (min-width: 490px) and (max-width: 500px) {
    #welcome {
      width: 95vw;
      justify-content: space-between;
      column-gap: var(--gap-1);
    }
  }
}
