/* -----------780PX - 1000PX----------- */
@media (min-width: 780px) and (max-width: 1000px) {
  #header {
    height: 60vh;
    padding: 2rem;
    overflow-x: hidden;
    padding: 2rem;
  }
  #header h1 {
    font-size: 2rem;
    line-height: 2;
  }
  #header p {
    font-size: 1.5rem;
  }
}
@media (max-width: 900px) {
  #showcase {
    width: 100vw;
    height: fit-content;
    color: #fff;
    padding: 1.5rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20rem;
    text-align: center;
    padding: 1rem;
    border-radius: 2%;
    margin: 1rem;
  }

  .box:hover img {
    transform: scale(1);
  }
  .box:nth-child(2) {
    transform: translateY(0);
  }
  .box .showcase-text h3:first-child {
    transform: translateY(0);
  }
  .box img {
    width: 13rem;
    height: 15rem;
  }
  .box h3 {
    flex: none;
    font-weight: 1000;
    font-size: 1.3rem;
  }
}

/* -------780px -------- */
@media (max-width: 780px) {
  .logo {
    width: 100%;
  }
  .nav-socials {
    display: block;
  }
  .nav-container .nav-socials a:first-child svg {
    fill: #3b5998;
  }
  .nav-container .nav-socials a:nth-child(2) svg {
    fill: #00acee;
  }
  .nav-container .nav-socials a:nth-child(3) svg {
    fill: #c4302b;
  }
  .nav-container .nav-socials a:nth-child(4) svg {
    fill: #fd5949;
  }
  #main-nav {
    display: flex;
    text-align: center;
  }

  #main-nav .nav-container {
    display: block;
    position: fixed;
    top: 5rem;
    right: 5%;
    width: 15rem;
    background: var(--dark-color);
    z-index: 1000;
    display: none;
  }

  #main-nav .nav-container .open-menu {
    display: contents;
  }
  .nav-container .nav-socials,
  .nav-container li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background: var(--light-color);
    z-index: 2000;
  }
  .nav-container ul {
    display: contents;
  }
  .nav-container ul li a {
    padding-top: 0.5rem;
    color: #333;
  }
  .nav-container ul li {
    margin: 0 auto;
    transition: color 0.3s;
    border-bottom: 0.1px dotted var(--dark-color);
  }
  .nav-container ul li:hover {
    background: var(--dark-color);
    color: var(--light-color);
  }
  .nav-container ul li:hover a {
    color: var(--light-color);
  }
  .nav-container .nav-socials:hover {
    background: var(--dark-color);
  }

  .logo svg {
    width: 1.8rem;
    fill: #f3f3f3;
  }

  .nav-container {
    grid-template-columns: 6fr 6fr 5fr;
    padding: 0.5rem;
  }
  nav button {
    display: contents;
    cursor: pointer;
  }
  nav button img {
    width: 30px;
  }
  #header {
    padding: 2rem 1.5rem;
  }
  #header h1 {
    font-size: 2rem;
    line-height: 2;
  }
  #header p {
    font-size: 1.5rem;
  }
  .nav-container ul li {
    padding: 0 0.5rem;
  }
  #showcase {
    padding: 1.5rem;
  }
}
/* ----720px------ */
@media (max-width: 720px) {
}

/* max-width:600px */
@media (max-width: 600px) {
  .logo {
    width: 100%;
  }
  .nav-container ul {
    display: contents;
  }
  .nav-socials {
    justify-self: right;
  }
  .nav-container {
    grid-template-columns: 6fr 4fr;
  }
}
@media (max-width: 500px) {
  .logo {
    color: #fff;
    width: 15rem;
    font-size: 2rem;
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20rem;
    text-align: center;
    padding: 1rem;
    border-radius: 2%;
    margin: 1rem;
  }

  .box:hover img {
    transform: scale(1);
  }
  .box:nth-child(2) {
    transform: translateY(0);
  }
  .box:hover {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 1rem;
    border-radius: 2%;
    border: 2px solid #fff;
    box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.5);
  }
  .box:hover img {
    transform: scale(1.1);
  }
  .box h3 {
    font-weight: 1500;
    font-size: 1.2rem;
  }
  .box img {
    width: 10rem;
    height: 15rem;
  }
}
