:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --sports-color: #f99500;
  --politics_and_country-color: #e45001;
  --entertainment-color: #a66bbe;
  --technology-color: #009cff;
  --max-width: 1500px;
  --gap: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--dark-color);
  font-family: "lato", sans-serif;
  line-height: 1.5;
  /* overflow-x: hidden; */
}

/* other items */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "staatliches", cursive;
  margin-bottom: 0.5rem;
  line-height: 1.6;
}
.py-1 {
  padding: 0.5rem;
}
.py-2 {
  padding: 1rem;
}
.py-3 {
  padding: 0 0.5rem;
}
.py-4 {
  padding: 0 1rem;
}
.py-5 {
  padding: 0.5rem 0;
}
.py-6 {
  padding: 1rem 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
span {
  padding-left: 0.2rem;
}
svg {
  width: 1.2rem;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  /* background: repeating-radial-gradient(
    circle at 50% 50%,
    var(--light-color) 0%,
    var(--light-color) 10%,
    var(--light-color) 5%,
    var(--dark-color) 45%,
    var(--light-color) 60%,
    var(--dark-color) 90%,
    var(--dark-color) 100%
  ); */
  display: flex;
  place-content: center;
  align-items: center;
  transition: opacity 0.2s linear;
  width: 100%;
  opacity: 1;
  transform: opacity 1s linear;
  z-index: 99999;
}
.preloader .fade-out {
  top: 110%;
  opacity: 0;
}
.close-nav-menu {
  display: none;
}
/* navbar */

nav {
  background: var(--dark-color);
  width: 100%;
}
/* chnages the color of navbar on scroll */
.nav-sticky {
  opacity: 0.8;
}
#main-nav {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 0.5rem 1rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
#main-nav .nav-container {
  display: grid;
  grid-template-columns: 75% 25%;
  align-items: center;
}
#main-nav .nav-container .nav-socials {
  display: flex;
  align-items: center;
}
.logo svg {
  width: 1.8rem;
  fill: #f3f3f3;
  position: relative;
  top: 0.2rem;
}
.latest {
  width: 0.7rem;
  fill: #fff;
}
.logo {
  color: #fff;
  width: 12rem;
  font-size: 1.8rem;
}
.logo span {
  color: #c72727;
  background: #fff;
  padding: 0.2rem;
}
.nav-container .nav-socials svg {
  width: 1.5rem;
  fill: #fff;
}
.nav-container .nav-socials a:first-child svg:hover {
  fill: #3b5998;
}
.nav-container .nav-socials a:nth-child(2) svg:hover {
  fill: #00acee;
}
.nav-container .nav-socials a:nth-child(3) svg:hover {
  fill: #c4302b;
}
.nav-container .nav-socials a:nth-child(4) svg:hover {
  fill: #fd5949;
}
.nav-container .nav-socials a {
  padding: 0.2rem;
}
.nav-container ul {
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
}
.nav-container ul li {
  padding: 0 1rem;
}

.nav-container ul:hover ul li a {
  color: var(--light-color);
}
.nav-container ul li a {
  color: #fff;
}
.nav-container ul li .dropdown {
  display: none;
}

nav .nav-container ul li a::after {
  content: "";
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
}
nav .nav-container ul li:last-child a::after {
  display: none;
}
nav .nav-container ul li:hover a::after {
  height: 2px;
  background: var(--light-color);
}

nav button {
  display: none;
}

/* header */
#header {
  width: 100vw;
  height: 60vh;
  color: #fff;
  position: relative;
  top: 44px;
  padding: 2rem;
  text-align: center;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#header h1 {
  font-family: sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
}
#header p {
  font-family: sans-serif;
  font-size: 1.5rem;
}
.header {
  color: var(--secondary-color);
  font-style: italic;
}
.header-text {
  color: var(--secondary-color);
  text-transform: none;
}
#header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: repeating-radial-gradient(
    circle at 30% 87%,
    #333 0%,
    #f3f3f3 5%,
    #333 45%,
    #f3f3f3 60%,
    #333 90%
  );
  width: inherit;
  height: inherit;
  opacity: 0.6;
  z-index: -1;
}
/* read more button */
button {
  margin: 2rem 0;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: sans-serif;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset -2px 2px 2px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn-3 {
  background: #c72727;
  background: linear-gradient(0deg, #c72727 0%, #c72727 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3::before,
.btn-3::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: var(--primary-color);
  transition: all 0.3s ease;
}
.btn-3::before {
  height: 0;
  width: 2px;
}
.btn-3::after {
  height: 2px;
  width: 0;
}
.btn-3:hover {
  background: transparent;
  box-shadow: none;
}
.btn-3:hover::before {
  height: 100%;
}
.btn-3:hover::after {
  width: 100%;
}
.btn-3 span:hover {
  color: var(--secondary-color);
}
.btn-3 span::before,
.btn-3 span::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #c72727;
  transition: all 0.3s ease;
}
.btn-3 span::before {
  width: 2px;
  height: 0;
}
.btn-3 span::after {
  width: 0;
  height: 2px;
}
.btn-3:hover span::before {
  height: 100%;
}
.btn-3:hover span::after {
  width: 100%;
}

/* ------showcase container------ */
#showcase {
  width: 95vw;
  height: fit-content;
  color: #fff;
  padding: 1.5rem;
  position: relative;
  top: 44px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 35%);
  grid-gap: 0.5rem;
  margin: 1rem auto;
}
#welcome {
  width: 90vw;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box {
  width: 15rem;
  aspect-ratio: 1;
  background-color: #f3f3f3;
  color: rgb(51, 51, 51);
  text-align: center;
  padding: 1rem;
  border-radius: 2%;
}
.box:hover {
  background-color: transparent;
  color: #fff;
  text-align: center;
  padding: 1rem;
  border-radius: 2%;
  border: 2px solid #fff;
  box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.5);
}
.box:hover img {
  transform: scale(1.1);
}
.box:nth-child(2) {
  transform: translateY(-20%);
}
.box img {
  width: 13rem;
  aspect-ratio: 1;
  box-shadow: 0 0 9px rgba(51, 51, 51, 0.5);
}
.box h3 {
  font-weight: 1000;
  font-size: 1.3rem;
}

/* -------stories container--------- */
#stories {
  width: 100vw;
  height: 100vh;
  position: relative;
}
#stories h1 {
  color: var(--light-color);
  display: flex;
  justify-content: center;
}

#stories-container {
  position: absolute;
  width: 100%;
  height: calc(100% / 2);
  color: var(--light-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 0.1fr;
  /* overflow: hidden; */
  padding: var(--gap);
  column-gap: var(--gap);
}
#stories-container .stories-box:first-child {
  width: 100%;
  height: 100%;
}
#stories-container .stories-box:first-child img {
  width: 100%;
  height: 100%;
}
.stories-main-box {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(2, 0.36fr);
  column-gap: var(--gap);
  row-gap: var(--gap);
}
#stories-container .stories-main-box .stories-box {
  width: 100%;
  height: 100%;
  column-gap: var(--gap);
}

.stories-box img {
  background: var(--dark-color);
  opacity: 0.7;
  width: 100%;
  height: 100%;
}
.stories-box:hover img {
  background: var(--dark-color);
  opacity: 1;
}

.sports-text {
  transform: translateY(-110%);
  overflow-wrap: break-word;
  padding: 0.5rem;
}
/* .sports-text p {
} */
.article-sub-head {
  width: 2px;
  height: 1rem;
  background: var(--sports-color);
}
.no-2 {
  background: var !important;
}
.no-3 {
  background: var(--sports-color) !important;
}
.no-4 {
  background: var(--sports-color) !important;
}
.no-5 {
  width: 2px;
  height: 1rem;
  background: var(--technology-color) !important;
}
