$primary-color: #c72727;
$secondary-color: #f99500;
$light-color: #f3f3f3;
$dark-color: #212529;
$scroll-bar-color: #827f7f;
$sports-color: #f99500;
$politics_and_country-color: #e45001;
$entertainment-color: #a66bbe;
$foreign-color: #009cff;
$max-width: 1500px;
$gap-1: 1rem;
$gap-2: 2rem;
