@import "config";
/* other media-queries */
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
/* $$$$$-780PX - 1000PX$$$$$- */
@media (min-width: 780px) and (max-width: 1000px) {
  #header {
    height: 60vh;
    padding: 2rem;
    overflow-x: hidden;
    padding: 2rem;
  }
  #header h1 {
    font-size: 2rem;
    line-height: 2;
  }
  #header p {
    font-size: 1.5rem;
  }
  #article-stories-container .right-section-box {
    height: fit-content;
    padding: 0.5rem;
  }
  .right-section-box .section-text h3 {
    font-size: 1rem;
  }
}
@media (max-width: 920px) {
  #main-nav {
    grid-template-columns: 30vw 50vw 20vw;
  }
}
@media (max-width: 900px) {
  #showcase {
    width: 100vw;
    height: fit-content;
    color: #fff;
    padding: 1.5rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20rem;
    text-align: center;
    padding: 1rem;
    border-radius: 2%;
    margin: 1rem;
  }

  .box:hover img {
    transform: scale(1);
  }
  .box:nth-child(2) {
    transform: translateY(0);
  }
  .box .showcase-text h3:first-child {
    transform: translateY(0);
  }
  .box img {
    width: 13rem;
    height: 13rem;
  }
  .box h3 {
    flex: none;
    font-weight: 1000;
    font-size: 1.3rem;
  }
  #article-stories-container {
    grid-template-columns: 65% 35%;
  }
  .left-section {
    width: 65vw;
  }
  /* this is for the responsiveness of the topic container */
  .topic-box > ul > li .topic-box-dropdown > li:nth-child(2) {
    display: block;
  }
  .topic-box > ul > li:nth-child(6) {
    display: none;
  }
}
/* $$$-780px $$$$ */
@media (max-width: 780px) {
  #preloader {
    background: #fff;
  }
  .logo {
    font-size: 1.8rem;
  }
  .logo svg {
    width: 1.8rem;
  }
  #main-nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
  }

  #main-nav .nav-container {
    position: fixed;
    top: 8%;
    left: 0;
    width: 15rem;
    background: $scroll-bar-color;
    z-index: 1000;
    display: none;
  }
  .nav-container li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background: $light-color;
    z-index: 2000;
    opacity: 0;
    animation: anim-nav 0.5s linear forwards;
    animation-delay: 0.1s;
  }
  .nav-container ul {
    display: contents;
  }
  .nav-container ul li a {
    padding-top: 0.5rem;
    color: $dark-color;
  }
  .nav-container ul li {
    margin: 0 auto;
    transition: color 0.3s;
    border-bottom: 0.1px dotted $dark-color;
  }
  .nav-container li:first-child:hover {
    background: $light-color;
  }
  .nav-container li:nth-child(2) {
    animation-delay: 0.5s;
  }
  .nav-container li:nth-child(3) {
    animation-delay: 1s;
  }
  .nav-container .nav-socials {
    animation-delay: 1.5s;
  }
  .nav-container ul li:hover {
    background: $dark-color;
    color: $light-color;
  }
  .nav-container ul li:hover a {
    color: $light-color;
  }

  nav button {
    display: contents;
    cursor: pointer;
    position: absolute;
    left: 20px;
  }
  nav button img {
    width: 40px;
  }
  .latest {
    display: none;
  }
  #header {
    padding: 2rem 1.5rem;
  }
  #header h1 {
    font-size: 2rem;
    line-height: 2;
  }
  #header p {
    font-size: 1.5rem;
  }
  .nav-container ul li {
    padding: 0 0.5rem;
  }
  #showcase {
    padding: 1.5rem;
    margin: 0 auto 9rem auto;
  }
  #stories-container {
    display: block;
    padding: $gap-1;
    column-gap: $gap-1;
    height: fit-content;
  }
  #stories-container .bigger-box {
    width: 100%;
    height: 20rem;
  }
  .stories-main-box {
    margin-top: 10%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    column-gap: $gap-1;
    row-gap: $gap-1;
  }
  #stories-container .stories-main-box .stories-box {
    width: 100%;
    height: calc(35rem / 2);
    column-gap: $gap-1;
  }
  #stories-container .stories-main-box .stories-box:last-child {
    margin-bottom: 5rem;
  }
  #stories-container .bigger-box {
    width: 100%;
    height: 20rem;
  }
  #footer-container {
    margin: 20rem 2rem 0 2rem;
  }
  .inner-box {
    font-size: 14px;
  }
  .slides {
    width: 500%;
    height: 100%;
    display: flex;
  }
  #article-header {
    width: 100vw;
    height: 45vh;
    position: relative;
    top: 6.5rem;
    bottom: 3rem;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $light-color;
  }
  #slider {
    width: 75%;
    height: 85%;
    border-radius: 10px;
    /* overflow: hidden; */
  }
  .slide p {
    display: none;
  }

  .nav-btn {
    margin: -3rem -25%;
  }

  /* $$600px-780px$$$ */
  @media (min-width: 600px) and (max-width: 780px) {
    #stories-container {
      display: block;
      padding: $gap-1;
      column-gap: $gap-1;
      height: fit-content;
      margin-bottom: 15rem;
    }

    #footer-container {
      margin: 30rem $gap-2 0 $gap-2;
    }
  }
  /* $$$$720px(for the topic-box) */
  @media (max-width: 720px) {
    .topic-box ul > li:nth-child(5) {
      display: none;
    }
    .topic-box > ul > li .topic-box-dropdown > li:nth-child(2) {
      display: block;
    }
    .left-section {
      width: 65vw;
    }
    .left-section-boxes {
      background: $light-color;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, calc(100% / 2 - 1rem));
      column-gap: $gap-1;
      row-gap: $gap-1;
    }
    .left-section .left-section-boxes {
      display: grid;
      grid-template-columns: repeat(2, calc(100% / 2 - 1rem));
      grid-gap: $gap-1;
      overflow-x: hidden;
    }

    .left-section-box {
      width: 100%;
      height: fit-content;
      background: #fff;
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
      padding: 0;
    }
  }
  /* max-width:600px */
  @media (max-width: 600px) {
    .nav-container ul {
      display: contents;
    }
    .stories-main-box {
      display: block;
      row-gap: $gap-1;
    }
    #stories-container .stories-main-box .stories-box {
      height: 7rem;
      border-bottom: 1px dotted $light-color;
    }
    .sports-text {
      transform: translateY(0);
    }
    .bigger-box .sports-text {
      transform: translateY(-100%);
    }
    .stories-box img {
      display: none;
    }
    .bigger-box img {
      display: block;
    }
    .topic-box > ul > li .topic-box-dropdown > li:first-child {
      display: block;
    }
    .topic-box > ul > li:nth-child(4) {
      display: none;
    }
    #breaking-stories-tab {
      display: contents;
    }
    #breaking-stories-tab ul {
      display: block;
      height: 3rem;
      overflow: hidden;
    }
    .left-section {
      width: 95vw;
    }
    .right-section {
      display: none;
    }
    .left-section .left-section-boxes,
    .left-section-boxes {
      padding-top: 0;
      display: block;
      padding: 2rem;
    }
    .left-section-box {
      border-top: 0 0 2px $dark-color;
    }
    .left-section-box img {
      height: 13rem;
      width: 80%;
      padding-top: $gap-1;
      left: 10%;
    }
    .left-section-text h3 {
      text-align: center;
    }
    .footer-box {
      justify-content: center;
    }
    #first-box {
      grid-template-columns: repeat(2, calc(100% / 2));
      justify-content: center;
    }
  }
  /* max-width: 500px */
  @media (max-width: 500px) {
    .logo {
      font-size: 1.5rem;
    }
    .logo svg {
      width: 1.5rem;
    }
    #welcome p {
      margin-left: 0rem;
    }
    .showcase-text {
      margin: 0 1rem;
    }

    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 20rem;
      text-align: center;
      padding: 1rem;
      border-radius: 2%;
      margin: $gap-1;
    }

    .box:hover img {
      transform: scale(1);
    }
    .box:nth-child(2) {
      transform: translateY(0);
    }
    .box:hover {
      background-color: transparent;
      color: #fff;
      text-align: center;
      padding: 1rem;
      border-radius: 2%;
      border: 2px solid #fff;
      box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.5);
    }
    .box:hover img {
      transform: scale(1.1);
    }
    .box h3 {
      font-weight: 1500;
      font-size: 1.2rem;
    }
    .box img {
      width: 10rem;
      height: 10rem;
    }
    .topic-box > ul > li:nth-child(2) {
      width: 110%;
    }
  }
  @media (min-width: 490px) and (max-width: 500px) {
    #welcome {
      width: 95vw;
      justify-content: space-between;
      column-gap: v$gap-1;
    }
  }
  @media (max-width: 480px) {
    .topic-box > ul > li:first-child {
      width: 150%;
    }
    .welcome {
      font-size: 1.2rem;
    }
    #breaking-stories-tab div strong {
      width: 10rem;
    }
  }
}
@media (max-width: 400px) {
  .topic-box ul li a {
    font-size: 1rem;
  }
  .box p {
    display: none;
  }
}
@media (max-width: 820px) {
  .img-slider {
    width: 600px;
    height: 250px;
  }
  .img-slider .slide img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .img-slider .slide .info {
    padding: 10px 25px;
  }

  .img-slider .slide .info h2 {
    font-size: 35px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px) {
  .img-slider {
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info {
    padding: 10px 20px;
  }

  .img-slider .slide .info h2 {
    font-size: 30px;
  }
  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}
@media (max-width: 700px) {
  .form-box {
    display: block;
  }

  .form-control input,
  textarea {
    width: 70vw;
  }

  .form-control label {
    left: -70vw;
  }

  .form-btn {
    left: calc(10vw + 2rem);
  }

  @media (max-width: 580px) and (max-width: 700px) {
    .form-control label {
      left: -70vw;
    }
  }

  @media (max-width: 530px) {
    .form-control {
      width: 120%;
    }
  }
}

@media (max-width: 420px) {
  .img-slider {
    width: 320px;
    height: 200px;
  }
  .img-slider > h4 {
    top: -6.5rem;
  }
  .img-slider .slide .info {
    padding: 5px 10px;
  }

  .img-slider .slide .info h2 {
    font-size: 25px;
  }

  .img-slider .navigation {
    bottom: 10px;
  }
  /* contact page */
  /* .form-control input,
    textarea {
      width: 60vw;
    } */
  .form-box-two form {
    margin-left: 1rem;
  }
}
@media (max-width: 360px) {
  .logo {
    font-size: 1.2rem;
  }
  @media (max-width: 350px) {
    .box {
      flex-direction: column;
    }
  }
  @media (max-width: 335px) {
    .logo {
      font-size: 1rem;
    }
  }
  @media (max-width: 300px) {
    #header h1 {
      font-size: 1.5rem;
      line-height: 2;
    }
    #header p {
      font-size: 1.2rem;
    }
    .subscribe-main-btn {
      width: fit-content;
      height: 1.4rem;
      border-radius: 5px;
      margin: 0 0;
      padding: 0 0.2rem;
      font-size: 12px;
    }
  }
  @media (min-width: 360px) and (max-width: 500px) {
    #welcome {
      display: block;
    }
  }
}
@media (max-width: 780px) {
  #form {
    width: 400px;
  }
  #form button {
    left: 67%;
  }
  @media (max-width: 500px) {
    #form {
      width: 350px;
    }
    #form input::placeholder {
      margin: 0;
    }
    #form button {
      left: 62%;
    }
  }
}
@media (max-width: 600px) {
  .subscribe-box h4 {
    font-size: 0.9rem;
  }
}
@media (max-width: 500px) {
  .subscribe-container > .close-subscribe-menu {
    left: 80vw;
  }
}
